<h1>Upcoming Events</h1>

<div class="events">
  <h3>Wolf Creek Trail Run</h3>
  <h4>April 8, 2023</h4>
  <p>Join the PB Kiwanis Club & US Forest Service as we host our 10th Annual WOLF CREEK TRAIL RUN. Utilizing Crooked Branch Trail; known locally as "Twisted Sister"). Enjoy the running trail AND help us raise money for Kiwanis Bacon Memorial Park.
    When : April 8, 2023 6K run & 1.7 mile WTF (Walk The Forest) start time 9:30am, Half Marathon start time 8 a.m. Rain or Shine.
    Where: Wolf Creek Trail, Poplar Bluff, Mo., is .60 mile north of the Highway Patrol Station. It's off the outer road on Forestry Road 3107 (also labeled County Road 429 on some maps). As soon as you get on the Forestry road, the Trail Head is on the right.
    Cost*: 6K Run or 1.7 Mile Walk: $25 | Half Marathon: $30
    Age groups: Men & Women 18yrs old and under, 19-35, 36-50,51+
    *Cost includes T-shirt and medals* for top two runners in each age division for 6K (male & female), top male & female half runners and EACH finisher in half marathon. All runners/walkers will get a T shirt, however to be guaranteed a T shirt ON RACE DAY you must register by April 7th. AND RESPOND TO SHIRT SIZE (MEN'S & WOMEN'S SIZES) on this website. Shirts and bibs can be picked up at the north trailhead prior to race start.
    2021 Winners: 1/2 Marathon Daniel Mustain (Male) 1:37:04, Betsy Minkler (Female) 1:43:12. 6K Isaac Thompson (Male) 26:05, Kennedy Thayer (Female) 29:03.
    *medals for runners only.
    If you enter the half marathon you must be able to complete the course within 3 hours and 15 minutes. The 6K must be completed within 1 hour. If you plan on walking, please enter the WTF.</p>
    <button>Register</button>
  </div>
<div class="events">
  <h3>Bark at the Moon</h3>
  <h4>April 6, 2024</h4>
  <p>An evening run in celebration of the Total Solar Eclipse, coming to Poplar Bluff, Missouri on April 8, 2024. More details to come.</p>
  <button>Learn More</button>
</div>
