<h1>Trails</h1>
<div>
<p>
  Trails: 6<br>
  Total Distance: 18 miles<br>
  Total Decent: 755 feet<br>
  Total Vertical: 132 feet<br>
  Highest Trailhead: 560 feet
</p>
</div>
<br>
<div class="trail">
<h2>Wolf Creek</h2>
<p>
  Distance: 10.6 miles<br>
  Climb: 947 ft<br>
  Decent: -500 ft<br>
  Average Time: 01:13:43
</p>
<button>Log</button>
</div>
<div class="trail">
  <h2>South Trailhead Spur</h2>
  <p>
    Distance: 2,225 ft<br>
    Climb: 53 ft<br>
    Decent: -19 ft<br>
    Average Time: 00:10:03
  </p>
  <button>Log</button>
  </div>
  <div class="trail">
    <h2>Oak Ridge</h2>
    <p>
      Distance: 4,619 ft<br>
      Climb: 53 ft<br>
      Decent: -3 ft<br>
      Average Time: 00:14:48
    </p>
    <button>Log</button>
    </div>
    <div class="trail">
      <h2>Cane Creek Trail</h2>
      <p>
        Distance: 4,416 ft<br>
        Climb: 61 ft<br>
        Decent: -20 ft<br>
        Average Time: 00:11:30
      </p>
      <button>Log</button>
      </div>
      <div class="trail">
        <h2>Crooked Branch</h2>
        <p>
          Distance: 4.7 miles<br>
          Climb: 171 ft<br>
          Decent: -156 ft<br>
          Average Time:
        </p>
        <button>Log</button>
        </div>
        <div class="trail">
          <h2>Still Hollow</h2>
          <p>
            Distance: 1.0 miles<br>
            Climb: 29 ft<br>
            Decent: -57 ft<br>
            Average Time:
          </p>
          <button>Log</button>
          </div>
