<h2>Trails</h2>
<div class="trail-list">
<div class="trail">
  <h2>  <img class="trailMap" src="../../assets/fulltrail.png" alt="Full Trail" style="width:200px">
    Wolf Creek</h2>
  <p>
  Distance: 10.6 miles<br>
  Climb: 947 ft<br>
  Decent: -500 ft<br>
  Average Time: 01:13:43
</p>
<button class="btn">Interactive Map</button><button class="btn">Log</button>
</div>
<div class="trail">
  <h2><img class="trailMap" src="../../assets/fulltrail.png" alt="Full Trail" style="width:200px">South Trailhead Spur</h2>
  <p>
    Distance: 2,225 ft<br>
    Climb: 53 ft<br>
    Decent: -19 ft<br>
    Average Time: 00:10:03
  </p>
  <button class="btn">Interactive Map</button><button class="btn">Log</button></div>
  <div class="trail">
    <h2><img class="trailMap" src="../../assets/fulltrail.png" alt="Full Trail" style="width:200px">Oak Ridge</h2>
    <p>
      Distance: 4,619 ft<br>
      Climb: 53 ft<br>
      Decent: -3 ft<br>
      Average Time: 00:14:48
    </p>
    <button class="btn">Interactive Map</button><button class="btn">Log</button></div>
    <div class="trail">
      <h2><img class="trailMap" src="../../assets/fulltrail.png" alt="Full Trail" style="width:200px">Cane Creek Trail</h2>
      <p>
        Distance: 4,416 ft<br>
        Climb: 61 ft<br>
        Decent: -20 ft<br>
        Average Time: 00:11:30
      </p>
      <button class="btn">Interactive Map</button><button class="btn">Log</button></div>
      <div class="trail">
        <h2><img class="trailMap" src="../../assets/fulltrail.png" alt="Full Trail" style="width:200px">Crooked Branch</h2>
        <p>
          Distance: 4.7 miles<br>
          Climb: 171 ft<br>
          Decent: -156 ft<br>
          Average Time:
        </p>
        <button class="btn">Interactive Map</button><button class="btn">Log</button></div>
        <div class="trail">
          <h2><img class="trailMap" src="../../assets/fulltrail.png" alt="Full Trail" style="width:200px">Still Hollow</h2>
          <p>
            Distance: 1.0 miles<br>
            Climb: 29 ft<br>
            Decent: -57 ft<br>
            Average Time:
          </p>
          <button class="btn">Interactive Map</button><button class="btn">Log</button></div>
        </div>
