<h1>Trails</h1>
<div class="trail-list">
<div class="trail">
  <h2>  <a href="https://www.trailforks.com/region/wolf-creek-24507/?activitytype=1&z=13.0&lat=36.79950&lon=-90.49400"><img class="trailMap" src="../../assets/fulltrail.png" alt="Full Trail" style="width:200px"></a>
    Wolf Creek</h2>
  <p>
  Distance: 10.6 miles<br>
  Climb: 947 ft<br>
  Decent: -500 ft<br>
  Average Time: 01:13:43
</p>
<a href="https://www.trailforks.com/region/wolf-creek-24507/?activitytype=1&z=13.0&lat=36.79950&lon=-90.49400"><button class="btn">Interactive Map</button></a><button class="btn">Log</button>
</div>
<div class="trail">
  <h2><a href="https://www.trailforks.com/trails/south-trailhead-spur/"><img class="trailMap" src="../../assets/fulltrail.png" alt="Full Trail" style="width:200px"></a>South Trailhead Spur</h2>
  <p>
    Distance: 2,225 ft<br>
    Climb: 53 ft<br>
    Decent: -19 ft<br>
    Average Time: 00:10:03
  </p>
  <a href="https://www.trailforks.com/trails/south-trailhead-spur/"><button class="btn">Interactive Map</button></a><button class="btn">Log</button></div>
  <div class="trail">
    <h2><a href="https://www.trailforks.com/trails/oak-ridge-269685/"><img class="trailMap" src="../../assets/fulltrail.png" alt="Full Trail" style="width:200px"></a>Oak Ridge</h2>
    <p>
      Distance: 4,619 ft<br>
      Climb: 53 ft<br>
      Decent: -3 ft<br>
      Average Time: 00:14:48
    </p>
    <a href="https://www.trailforks.com/trails/oak-ridge-269685/"><button class="btn">Interactive Map</button></a><button class="btn">Log</button></div>
    <div class="trail">
      <h2><a href="https://www.trailforks.com/trails/crane-creek-trail-234105/"><img class="trailMap" src="../../assets/fulltrail.png" alt="Full Trail" style="width:200px"></a>Cane Creek Trail</h2>
      <p>
        Distance: 4,416 ft<br>
        Climb: 61 ft<br>
        Decent: -20 ft<br>
        Average Time: 00:11:30
      </p>
      <a href="https://www.trailforks.com/trails/crane-creek-trail-234105/"><button class="btn">Interactive Map</button></a><button class="btn">Log</button></div>
      <div class="trail">
        <h2><a href="https://www.trailforks.com/trails/crooked-branch/"><img class="trailMap" src="../../assets/fulltrail.png" alt="Full Trail" style="width:200px"></a>Crooked Branch</h2>
        <p>
          Distance: 4.7 miles<br>
          Climb: 171 ft<br>
          Decent: -156 ft<br>
          Average Time:
        </p>
        <a href="https://www.trailforks.com/trails/crooked-branch/"><button class="btn">Interactive Map</button></a><button class="btn">Log</button></div>
        <div class="trail">
          <h2><a href="https://www.trailforks.com/trails/still-hollow/"><img class="trailMap" src="../../assets/fulltrail.png" alt="Full Trail" style="width:200px"></a>Still Hollow</h2>
          <p>
            Distance: 1.0 miles<br>
            Climb: 29 ft<br>
            Decent: -57 ft<br>
            Average Time:
          </p>
          <a href="https://www.trailforks.com/trails/still-hollow/"><button class="btn">Interactive Map</button></a><button class="btn">Log</button></div>
        </div>
<h1>Getting Here</h1>
<h3>North Trailhead: Lat. 36.8141201 Long. -90.5111035</h3>
<h4>From Poplar Bluff, MO</h4>
<p>Drive north on Westwood Drive for 3 miles until the road turns into US 60/US67<br>
  Travel northwest on US60/US67 for 3.2 miles<br>
  Turn left onto the Outer Road and parallel the highway for 2 miles to County Road 429/Forest Road 3107.<br>
  Travel down Forest Road 3107 for 1/10 of a mile and the trailhead is on the right.</p>
<h3>Middle Trailhead: Lat.36.802191 Long. -90.492269</h3>
<h4>From Poplar Bluff, MO</h4>
<p>Drive north on Westwood Drive for 3 miles until the road turns into US 60/US67<br>
  Travel northwest on US60/US67 for 3.2 miles<br>
  Turn left onto the Outer Road and parallel the highway for 2 miles to County Road 429/Forest Road 3107.<br>
  Travel down Forest Road 3107 for 1.1 mile sand the trailhead is on the right.</p>
<h3>South Trailhead: Lat. 36.783681 Long. -90.483246</h3>
<h4>From Poplar Bluff, MO</h4>
<p>Travel west on Kanell Boulevard<br>
  It turns into Highway PP. Travel on Highway PP for 4.2 miles.<br>
  Take a right on County Road 447 and travel .2 miles<br>
  The trailhead will be on your left.</p>
