.trail {
  border-radius: 10px;
  background-color:white;
  color: black;
  margin: 10px;
  margin-left: 30px;
  margin-right: 50px;
  padding: 5px 15px;
  width: 480px;
  position: relative;
}

.trail-list {
  width: 560px;
  /* height: 500px; */
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 10px;
  margin-top: 15px;
  margin-left: 15px;
  padding-bottom: 15px;

}


.trailMap {
  float: left;
  border-radius: 10px;
  margin-right: 15px;
}

.btn {
  padding: 7px 15px;
  border-radius: 10px;
  border-color: rgba(0, 0, 0, 0.151);
  background-color: yellow;
  border-width: 1px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.btn:hover {
  border-color: rgba(0, 0, 0, 0.37);
  box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.356);
  cursor: pointer;
}
