<div class="bkg"></div>
<h1>About</h1>
<p>Wolf Creek Trail is a popular place for hiking, trail running, bicycle riding and to hold running and bike racing events. It offers many views of the area’s streams, and can be a great place to see wildflowers in the spring and summer. The trail is most popular in the summertime, although it is a great place to see fall colors, and can even be a nice place to visit on mild winter days. The trail is also a popular destination for geocachers– 70 geocache points in the area make the shape of an eagle when the points are connected on a map.</p>
